.modal-backdrop{
    height: 0px !important;
    

}
.modal{
  @include sizes(100%,100%);
    position:relative;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex !important;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.2);

.modal-dialog {    
    display: flex;
    justify-content: center;
    align-items: center;
    transform: none;
    max-width: 500px;
    position: relative;
    width: 800px;
    height: 500px;
    pointer-events: none;
    margin: 0px !important;
  .modal-content {    
    @include sizes(500px,500px);
    position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    .modal-header {
      @include sizes(100%, 25%);
      .modal-title {
      }
    }
    .modal-body {
      @include sizes(100%, 50%);
    }
    .modal-footer {
      @include sizes(100%, 25%);
    }
  }
}
}