.cart-container {
  @include display(flex, row);  
  @include sizes(100%,fit-content);
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.2);
  .cart-container-inner {
    @include display(flex, column);
    @include sizes(850px, fit-content);
    align-items: center;
    margin-top: 120px;
    margin-bottom: 50px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 20px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    outline: 0;
    .cart-container-inner_title {
      @include sizes(100%, 55px);
      @include display(flex, row);
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      border-bottom: 1px solid #dee2e6;
      border-top-left-radius: calc(0.3rem - 1px);
      border-top-right-radius: calc(0.3rem - 1px);
      h5 {
        font-size: 1.2rem;
        font-weight: 600;
        color: grey;
        padding-left: 20px;
        height: fit-content;
      }
      .cart-container-inner_close {
        @include sizes(23px, 23px);
        @include display(flex, row);
        position: relative;
        bottom: 8px;
        right: 10px;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.3);
        border-color: transparent;
        transition: 0.2s all ease-in-out;
        a {
          text-decoration: none;
          color: white;
          font-weight: 700;
          font-size: 0.8rem;
        }
      }
      .cart-container-inner_close:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}
.empty_container {
  @include sizes(100%,100%);
  background-color: rgba(0, 0, 0, 0.2);
}


//1024
@media screen and (max-width: 1024px) {
  .cart-container {
    .cart-container-inner {
      @include sizes(700px, fit-content);
      .cart-container-inner_title {
        h5 {
          font-size: 1.1rem;
        }
        .cart-container-inner_close {
          @include sizes(20px, 20px);
          a {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

//768
@media screen and (max-width: 768px) {
  .cart-container {
    .cart-container-inner {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 10px;
      @include sizes(550px, fit-content);
      .cart-container-inner_title {
        h5 {
          font-size: 1rem;
        }
        .cart-container-inner_close {
          a {
            font-size: 0.7rem;
          }
        }
      }
    }
  } 
}
