.cart-container-empty {
  @include display(flex, row);
  @include sizes(100%, 130px);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
  text-align: right;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 15px;
  img {
    @include sizes(auto, 100%);
    margin-right: 50px;
  }
  .cart-container-empty_textContainer {
    @include display(flex, column);
    @include sizes(300px, 100%);
    text-align: center;
    justify-content: center;
    margin-left: 50px;
    p {
      font-size: 1.2rem;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.4);
      height: fit-content;
    }
  }
}

//1024
@media screen and (max-width: 1024px) {
  .cart-container-empty {
    .cart-container-empty_textContainer {
      p {
        font-size: 1.1rem;
      }
    }
  }
}

//768
@media screen and (max-width: 768px) {
  .cart-container-empty {
    .cart-container-empty_textContainer {
      p {
        font-size: 1rem;
      }
    }
  }
}
