.deleteButton-container {
  .deleteButton-container-button {
    width: fit-content;
    height: fit-content;
    outline: none;
    border-style: none;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: 0px auto;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: transparent;
    position: relative;
    @include transition(all 0.5s ease);
  }
  .one {
    border-color: #fff;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.6);
    .insider {
      background-color: #fff;
      @include sizes(100%,20px);
      position: absolute;
      left: -135px;
      @include transform(rotateZ(45deg));
    }
    &:hover {
      background-color: #f44336;
      border-color: #fff;
      color: #fff;
      .insider {
        @include transition(all 0.3s ease);
        left: 135px;
      }
    }
  }
  .two {
    border-color: #fff;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.6);
    .insider {
      background-color: #fff;
      @include sizes(100%,20px);
      position: absolute;
      left: -135px;
      @include transform(rotateZ(45deg));
    }
    &:hover {
      background-color: #01a036;
      border-color: #fff;
      color: #fff;
      .insider {
        @include transition(all 0.3s ease);
        left: 135px;
      }
    }
  }
}
