.cart-container-checkout {
  @include display(flex, column);
  @include sizes(850px, fit-content);
  align-items: center;
  position: relative;
  margin-top: 120px;
  margin-bottom: 50px;
  margin-right: 5px;
  padding-bottom: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  outline: 0;

  .cart-container-checkout_title {
    @include sizes(100%, 55px);
    @include display(flex, row);
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    h5 {
      font-size: 1.2rem;
      font-weight: 600;
      color: grey;
      padding-left: 20px;
      height: fit-content;
    }
  }
  .cart-container-checkout_texts_container {
    @include sizes(90%, 55px);
    @include display(flex, row);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    p {
      font-size: 1.2rem;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.4);
      padding-left: 20px;
    }
    .cart-container-checkout_texts_container_final {
      font-size: 1.4rem;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.55);
      padding-left: 20px;
    }
  }
}

//1024
@media screen and (max-width: 1024px) {
  .cart-container-checkout {
    @include sizes(700px, fit-content);
    margin-top: 30px;
    .cart-container-checkout_title {
      h5 {
        font-size: 1.1rem;
      }
    }
    .cart-container-checkout_texts_container {
      p {
        font-size: 1.1rem;
        padding-left: 0px;
      }
      .cart-container-checkout_texts_container_final {
        font-size: 1.2rem;
        padding-left: 0px;
      }
    }
  }
}

//768
@media screen and (max-width: 768px) {
  .cart-container-checkout {
    @include sizes(550px, fit-content);
    margin-right: 0px;
    .cart-container-checkout_title {
      h5 {
        font-size: 1rem;
      }
    }
    .cart-container-checkout_texts_container {
      p {
        font-size: 1rem;
      }
      .cart-container-checkout_texts_container_final {
        font-size: 1.1rem;
      }
    }
  }
}
