a {
  text-decoration: none;
  @include sizes(100%, 100%);
  @include display(flex, row);
  justify-content: center;
  align-items: center;
  .control-container-checkout {
    @include sizes(50%, 80%);
    @include display(flex, row);
    justify-content: center;
    align-items: center;
    background-color: #01a558;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    .control-container-checkout-text {
      @include sizes(fit-content, fit-content);
      color: white;
      font-size: 0.8rem;
      font-weight: 700;
    }
  }
  .control-container-checkout:hover {
    background-color: #002ec7;
  }
}

//1024
@media screen and (max-width: 1024px) {
  a {
    .control-container-checkout {
      @include sizes(40%, 70%);
      .control-container-checkout-text {
        font-size: 0.7rem;
      }
    }
  }
}

//768
@media screen and (max-width: 768px) {
  a {
    .control-container-checkout {
      @include sizes(40%, 80%);
    }
  }
}
