.item-list-container-bis {
  margin-top: 150px;
  margin-bottom: 50px;
  width: fit-content !important;
  .item-detail-container {
    @include display(flex, row);
    @include sizes(800px, 700px);
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    .item-detail-container_left {
      @include sizes(40%, fit-content);
      img {
        @include sizes(100%, auto);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
    .item-detail-container_right {
      @include sizes(60%, 100%);
      @include display(flex, column);
      padding: 2.5%;
      .item-detail-container_right-imgTitle {
        @include sizes(100%, 20%);
        @include display(flex, column);
        .item-detail-container_right-imgTitle_close {
          @include sizes(23px, 23px);
          @include display(flex, row);
          position: relative;
          align-self: flex-end;
          bottom: 10px;
          left: 10px;
          justify-content: center;
          align-items: center;
          border-style: solid;
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.3);
          border-color: transparent;
          transition: 0.2s all ease-in-out;
          a {
            text-decoration: none;
            color: white;
            font-weight: 700;
            font-size: 0.8rem;
          }
        }
        .item-detail-container_right-imgTitle_close:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }
        div {
          width: 100%;
          height: 75%;
          img {
            height: 100%;
            width: auto;
            align-self: center;
          }
        }
      }
      h4 {
        font-size: 1rem;
        height: auto;
      }
      .item-detail-container_right-properties {
        @include sizes(100%, 40%);
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        padding-top: 15px;
        p {
          font-size: 0.9rem;
        }
      }
      .item-detail-container_right-colorStock {
        @include sizes(75%, 5%);
        flex-direction: row;
        align-items: baseline;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
        border-top-style: solid;
        border-top-color: rgba(0, 0, 0, 0.3);
        border-top-width: 2px;

        p {
          font-size: 0.8rem;
        }
        a {
          font-size: 0.8rem;
          color: red;
          font-weight: 700;
          width: fit-content;
          margin-left: 5px;
        }
        a:hover {
          color: rgb(180, 0, 0);
        }
      }
      .item-detail-container_right-prices {
        @include sizes(100%, 10%);
        @include display(flex, column);
        border-top-style: solid;
        border-top-color: rgba(0, 0, 0, 0.4);
        border-top-width: 2px;
        padding-top: 10px;
        font-size: 1.1rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.7);
        .item-detail-container_right-prices-list {
          @include sizes(100%, auto);
          @include display(flex, row);
          justify-content: space-between;
        }
        .item-detail-container_right-prices-cash {
          @include sizes(100%, auto);
          @include display(flex, row);
          justify-content: space-between;
        }
      }
      .item-detail-container_right-stock {
        @include sizes(100%, 2%);
        justify-content: center;
        align-items: flex-end;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 0.8rem;
      }
      .item-detail-container_right-advice {
        @include sizes(100%, 10%);
        p {
          font-size: 0.7rem;
        }
      }
      .item-detail-container_right-return {
        @include display(flex, row);
        @include sizes(100%, 2%);
        margin-top: 10px;
        margin-bottom: 10px;
        .item-detail-container_right-return_link {
          @include display(flex, row);
          @include sizes(100%, 100%);
          justify-content: center;
          align-items: center;
          background-color: rgba(36, 36, 43, 0.5);
          padding: 3%;
          border-radius: 5px;
          transition: 0.2s all ease-in-out;
          cursor: pointer;
          a {
            text-decoration: none;
            font-size: 0.9rem;
            color: white;
            font-weight: 500;
          }
        }
        .item-detail-container_right-return_link:hover {
          background-color: rgba(36, 36, 43, 0.9);
        }
      }
    }
  }
}

.swal2-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-end !important;
  .swal2-popup {
    height: 120px !important;
    width: 20% !important;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px !important;
    background: #dbdbdb !important;
    .swal2-icon {
      display: none !important;
    }
    .swal2-image {
      margin: 0px;
      padding: 10px;
      width: 100px;
      height: 100px;
      box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 30%);
    }
    .swal2-title {
      width: 60%;
      padding: 0px;
      font-size: 1.2rem;
      height: fit-content;
    }
  }
}
