.item-detail-container_right-addButton {
  @include sizes(100%, 6%);
  @include display(flex, row);

  .control-container {
    @include sizes(100%, auto);
    @include display(flex, row);
    justify-content: flex-end;
    align-items: center;
    .control-container-amount {
      @include sizes(60%, 100%);
      @include display(flex, row);
      justify-content: flex-end;
      align-items: center;
      margin-right: 10%;
      .control-container-button {
        display: flex;
        @include sizes(30px, 30px);
        border-radius: 50%;
        border-style: none;
        background-color: rgba(0, 42, 255, 0.8);
        color: white;
        align-items: center;
        justify-content: center;
        transition: 0.1s ease-in-out;
        cursor: pointer;
        font-size: 1.2rem;
      }
      .control-container-button:active {
        background-color: #001ba1;
      }
      .control-container-number {
        @include sizes(20%, 80%);
        justify-content: center;
        align-items: center;
        p {
          @include sizes(fit-content, fit-content);
          font-size: 1.1rem;
          font-weight: 500;
        }
      }
    }
    .control-container-purchase {
      @include sizes(40%, 80%);
      @include display(flex, row);
      justify-content: center;
      align-items: center;
      background-color: #002aff;
      border-radius: 10px;
      border-style: none;
      cursor: pointer;
      .control-container-purchase-text {
        @include sizes(fit-content, fit-content);
        color: white;
        font-size: 0.8rem;
        font-weight: 700;
      }
    }
    .control-container-purchase:hover {
      background-color: #001ba1;
    }
  }
}

//1024

@media screen and (max-width: 1024px) {
  .item-detail-container_right-addButton {
    .control-container {
      .control-container-amount {
        .control-container-button {
          @include sizes(25px, 25px);
          font-size: 1rem;
        }
        .control-container-number {
          p {
            font-size: 1rem;
          }
        }
      }
      .control-container-purchase {
        @include sizes(30%, 70%);
        .control-container-purchase-text {
          font-size: 0.7rem;
          font-weight: 700;
        }
      }
    }
  }
}
