.imgCartCounter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  bottom: 13px;
  right: 8px;
  @include sizes(18px, 18px);
  border-radius: 100%;
  background-color: #c95663;
  p {
    padding: 0;
    display: inline-block;
    @include sizes(100%,100%);
    color: white;
    opacity: 1;
    font-weight: 500;
    font-size: 13px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
.imgCartCounterEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 13px;
  right: 8px;
  @include sizes(16px, 40%);
  border-radius: 100%;
  background-color: transparent;
  color: white;
  font-weight: 700;
}

//1024//
@media screen and (max-width: 1024px) {
  .imgCartCounter {
    @include sizes(13px, 38%);
    font-weight: 700;
    font-size: 0.67rem;
  }
}

//576//
@media screen and (max-width: 576px) {
  .headerBox_right {
    .imgCartCounter {
      @include sizes(11px, 36%);
      font-weight: 700;
      font-size: 0.52rem;
    }
  }
}
