.headerBox_right {
  a {
    justify-content: flex-end;
    text-decoration: none;
    width: 50px;
    margin-right: 10px;
    .headerBox_right-img-container {
      @include sizes(fit-content, 40px);
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      background-color: transparent;
      border-style: none;
      cursor: pointer;
      @include margin(0%, 0%, 0%, 3%);
      .imgCart {
        display: flex;
        height: 24px;
        width: auto;
      }
    }
  }
}

//1024//
@media screen and (max-width: 1024px) {
  .headerBox_right {
    a {
      .headerBox_right-img-container {
        @include sizes(fit-content, 35px);
        .imgCart {
          height: 22px;
        }
      }
    }
  }
}

//768
@media screen and (max-width: 768px) {
  .headerBox_right {
    a {
      .headerBox_right-img-container {
        @include sizes(fit-content, 30px);
        .imgCart {
          height: 20px;
        }
      }
    }
  }
}


// //576//
// @media screen and (max-width: 576px) {
//   .headerBox_right {
//     .headerBox_right-img-container {
//       height: 29px;
//       .imgCart {
//         height: 20px;
//       }
//       .imgCartCounter {
//         @include sizes(11px, 36%);
//         font-weight: 700;
//         font-size: 0.52rem;
//       }
//     }
//     p {
//       font-size: 0.6rem;
//     }
//   }
// }
