.fixedTop {
  @include sizes(100%, 60px);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  .headerBox {
    display: flex;
    @include sizes(100%, 40px);
    background-color: white;
    .headerBox_left {
      display: flex;
      @include sizes(50%, 100%);
      align-items: flex-end;
      p {
        display: block;
        width: fit-content;
        opacity: 0.4;
        color: black;
        font-size: 0.8rem;
        font-weight: 500;
        word-spacing: 10rem;
        text-transform: uppercase;
        @include margin(0%, 0%, 0%, 0%);
        padding: 0%;
        padding-top: 5px;
        padding-right: 10%;
      }
    }
    .headerBox_right {
      @include display(flex, row);
      justify-content: space-between;
      align-items: flex-start;
      @include sizes(50%, 100%);
      p {
        display: block;
        width: fit-content;
        opacity: 0.4;
        color: black;
        font-size: 0.8rem;
        font-weight: 500;
        word-spacing: 10rem;
        text-transform: uppercase;
        @include margin(0%, 0%, 0%, 0%);
        padding: 0%;
        padding-top: 5px;
        padding-left: 10%;
      }
    }
  }
}

//1024
@media screen and (max-width: 1024px) {
  body div .fixedTop .headerBox {
    height: 35px;
    .headerBox_left {
      p {
        font-size: 0.7rem;
      }
    }
    .headerBox_right {
      p {
        font-size: 0.7rem;
      }
    }
  }
}

//768//
@media screen and (max-width: 768px) {
  body div .fixedTop .headerBox {
    height: 30px;
    .headerBox_left {
      p {
        padding-right: 40px;
      }
    }
    .headerBox_right {
      p {
        padding-left: 40px;
      }
    }
  }
}

// //576//
// @media screen and (max-width: 576px) {
//   body div .fixedTop .headerBox {
//     height: 29px;
//     .headerBox_left {
//       p {
//         font-size: 0.6rem;
//       }
//     }
//   }
// }
