.nav-menu-img {
    @include display(flex, row);
    justify-content: center;
    align-items: center;
    width: 14.28%;
    img {
      @include sizes(auto,110px);
      position: relative;
      top: 3px;
    }
  }