.navegacion {
  .nav {
    background: linear-gradient(90deg, #ffb181 35%, #d85b8c 75%);
    @include sizes(100%, 30px);
    .container-logo-reduced {
      display: none;
    }
    .toggle {
      display: none;
      img {
        height: 20px;
        width: 20px;
      }
    }
    .nav-menu {
      list-style: none;
      @include sizes(100%, 30px);
      @include display(flex, row);
      @include margin(0%, 0%, 0%, 0%);
      padding-left: 0px;
      border-bottom-style: solid;
      border-bottom-width: 8px;
      border-bottom-color: rgba(255, 255, 255, 0.9);
      .nav-menu-item {
        @include display(flex, row);
        justify-content: center;
        align-items: center;
        width: 14.28%;
        div {
          text-decoration: none;
          justify-content: center;
          align-items: center;
          color: white;
          font-weight: 700;
          letter-spacing: 0.02em;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        }
        a {
          text-decoration: none;
          justify-content: center;
          align-items: center;
          color: white;
          font-weight: 700;
          letter-spacing: 0.02em;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        }
      }
      .nav-menu-item:hover,
      .nav-menu-item:active {
        background-color: #8f3f7d;
        transition: 0.6s;
      }      
    }
  }
}

//1024//
@media screen and (max-width: 1024px) {
  body div .fixedTop .navegacion .nav .nav-menu .nav-menu-item a {
    font-weight: 600;
    font-size: 0.75rem;
    letter-spacing: 0.04em;
  }
  body div .fixedTop .navegacion .nav .nav-menu .nav-menu-img img {
    height: 90px;
    top: 0px;
  }
}

//768//
@media screen and (max-width: 768px) {
  body div .fixedTop .navegacion .nav {
    height: 35px;
    border-bottom-style: solid;
    border-bottom-width: 8px;
    border-bottom-color: white;
    .container-logo-reduced {
      display: flex;
      height: 110px;
      width: 100%;
      align-items: center;
      justify-content: center;
      position: relative;
      bottom: 70px;
      img {
        height: 90px;
        width: auto;
        z-index: 1000;
      }
    }
    .toggle {
      display: flex;
      align-items: center;
      width: 10%;
      height: 27px;
      padding-left: 10px;
      background-color: transparent;
      border-style: none;
      img {
        height: 20px;
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
  }
  body div .fixedTop .navegacion .nav .nav-menu {
    flex-direction: column;
    margin-top: 32px;
    padding-top: 50px;
    @include sizes(100%, calc(100% - 33px));
    overflow-y: auto;
    background: linear-gradient(90deg, #ffb181 35%, #d85b8c 75%);
    position: fixed;
    left: -100%;
    align-items: center;
    transition: 0.6s;
    .nav-menu-item {
      width: 100%;
      @include padding(1%, 1%, 0%, 0%);
    }
  }
  body div .fixedTop .navegacion .nav .nav-menu.nav-menu_visible {
    left: 0px;
  }
  body div .fixedTop .navegacion .nav .nav-menu .nav-menu-img img {
    display: none;
  }
}

//576//
@media screen and (max-width: 576px) {
  body div .fixedTop .navegacion .nav {
    height: 32px;
    .container-logo-reduced {
      img {
        height: 80px;
      }
    }
    .toggle {
      height: 25px;
      img {
        height: 18px;
        padding-top: 1px;
      }
    }
    .nav-menu {
      margin-top: 25px;
      padding-top: 50px;
    }
  }
}
