footer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    margin-top: auto;
    background: linear-gradient(90deg, #d85b8c 25%, #d44d7d 75%);
    .cajaGde {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      .cajaIzq {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 1%;
        width: 33%;
        .cajaLinks {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding-bottom: 1%;
          .linksDeInteresTitulo {
            color: white;
            font-weight: 700;
          }
          .linksDeInteresTexto {
            text-decoration: none;
            color: white;
            opacity: 0.8;
            border-bottom-style: solid;
            border-bottom-width: 100%;
            border-width: 1px;
            border-bottom-color: transparent;
            transition: 0.2s;
          }
          .linksDeInteresTexto:hover {
            color: white;
            opacity: 0.9;
            border-bottom-color: white;
            border-bottom-style: solid;
          }
        }
        .cajaHorario {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          padding-left: 10px;
          padding-bottom: 1%;
          .horarioTitulo {
            color: white;
            font-weight: 700;
          }
          .horarioTexto {
            color: white;
            opacity: 0.8;
          }
        }
      }
      .cajaCentro {
        display: flex;
        justify-content: center;
        height: 150px;
        flex-direction: column;
        align-items: center;
        border-left: solid;
        border-right: solid;
        border-right-color: white;
        border-left-color: white;
        border-width: 1px;
        width: 33%;
        .cajaEncontranos {
          text-align: center;
          color: white;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 700;
          padding-bottom: 2%;
        }
        .cajaRedes {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          a {
            .footerImgRedes {
              display: flex;
              width: 40px;
              height: 40px;
              margin-left: 5px;
              margin-right: 5px;
              opacity: 0.8;
            }
            .footerImgRedes:hover {
              opacity: 1;
              transform: scale(1.2, 1.2);
            }
          }
        }
        .cajaDatos {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding-top: 2%;
          .cajasIndividuales {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: 2px;
            margin-right: 2px;
            .textoContacto {
              display: flex;
              color: white;
              font-size: 0.95rem;
              font-family: Arial, Helvetica, sans-serif;
              font-weight: normal;
              font-style: oblique;
              padding-left: 3px;
              padding-right: 3px;
            }
          }
        }
      }
      .cajaDer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        margin-right: 1%;
        width: 33%;
        .tuMensaje {
          text-align: right;
          color: white;
          font-family: "Poppins", sans-serif;
          opacity: 0.9;
        }
        .cajaGato {
          display: flex;
          position: relative;
          a {
            .gatoImagen2 {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              height: 100%;
              width: 100%;
              opacity: 0;
              transition: 0.6s ease;
            }
          }
        }
        .cajaGato:hover .gatoImagen2 {
          opacity: 1;
        }
      }
    }
  }
  .contenedorCopyRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #532327;
    text-decoration: none;
    width: 100%;
    height: 24px;
    padding-right: 2%;
    .copyRight {
      opacity: 0.6;
      font-family: "Cabin", sans-serif;
      font-weight: lighter;
      display: inline-block;
      color: white;
      font-size: 0.75rem;
    }
  }