footer {
  @include sizes(100%,fit-content);
  display: flex;
  flex-direction: column;
  margin-top: auto;
  background: linear-gradient(90deg, #d85b8c 25%, #d44d7d 75%);
  .cajaGde {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-top: 5px;
    .cajaIzq {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-left: 1%;
      width: 33%;
      .cajaLinks {
        display: flex;
        flex-direction: column;
        padding-bottom: 1%;
        width: 50%;
        .linksDeInteresTitulo {
          color: white;
          font-weight: 700;
        }
        .linksDeInteresTexto {
          width: fit-content;
          text-decoration: none;
          color: white;
          opacity: 0.8;
          border-bottom-style: solid;
          border-bottom-width: 100%;
          border-width: 1px;
          border-bottom-color: transparent;
          transition: 0.2s all ease-in-out;
          justify-content: flex-start;
        }
        .linksDeInteresTexto:hover {
          color: white;
          opacity: 0.9;
          border-bottom-color: rgba(255, 255, 255, 0.8);
          border-bottom-style: solid;
          padding-right: 20px;
        }
      }
      .cajaHorario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10px;
        padding-bottom: 1%;
        .horarioTitulo {
          color: white;
          font-weight: 700;
          height: fit-content;
        }
        .horarioTexto {
          width: fit-content;
          height: fit-content;
          text-decoration: none;
          color: white;
          opacity: 0.8;
          justify-content: flex-start;
        }
      }
    }
    .cajaCentro {
      display: flex;
      justify-content: center;
      height: 150px;
      flex-direction: column;
      align-items: center;
      border-left: solid;
      border-right: solid;
      border-right-color: white;
      border-left-color: white;
      border-width: 1px;
      width: 33%;
      .cajaEncontranos {
        text-align: center;
        justify-content: flex-end;
        color: white;
        font-weight: 700;
        padding-bottom: 2%;
        p {
          height: fit-content;
        }
      }
      .cajaRedes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        a {
          width: fit-content;
          cursor: pointer;
          .svg-inline--fa {
            display: flex;
            width: 40px;
            height: 40px;
            margin-left: 5px;
            margin-right: 5px;
            opacity: 0.8;
            path {
              fill: white;
            }
          }
          .svg-inline--fa:hover {
            opacity: 1;
            transform: scale(1.2, 1.2);
          }
        }
      }
      .cajaDatos {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 2%;
        .cajasIndividuales {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-left: 2px;
          margin-right: 2px;
          .textoContacto {
            display: flex;
            color: white;
            font-size: 0.95rem;
            font-weight: normal;
            font-style: oblique;
            padding-left: 3px;
            padding-right: 3px;
          }
        }
      }
    }
    .cajaDer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      margin-right: 1%;
      width: 33%;
      .tuMensaje {
        text-align: right;
        color: white;
        opacity: 0.9;
        justify-content: flex-end;
        p {
          height: fit-content;
        }
      }
      .cajaGato {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        a {
          width: 50px;
          height: 50px;
          .svg-inline--fa {
            @include sizes(100%,100%);
            path {
              fill: white;
              opacity: 0.8;
              transition: 0.3s all ease-in-out;
            }
            path:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
.contenedorCopyRight {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #532327;
  text-decoration: none;
  @include sizes(100%,20px);
  padding-right: 20px;
  .copyRight {
    display: inline-block;
    color: white;
    font-size: 0.7rem;
    height: fit-content;
  }
}
