$gradienteppal:linear-gradient(90deg, #ffb181 35%, #d85b8c 75%);
$opacidadnegro1:rgba(0, 0, 0, 0.1);
$opacidadnegro2:rgba(0, 0, 0, 0.2);
$opacidadnegro3:rgba(0, 0, 0, 0.3);
$opacidadnegro4:rgba(0, 0, 0, 0.4);
$opacidadnegro5:rgba(0, 0, 0, 0.5);
$opacidadnegro6:rgba(0, 0, 0, 0.6);
$opacidadnegro7:rgba(0, 0, 0, 0.7);
$opacidadnegro8:rgba(0, 0, 0, 0.8);
$opacidadnegro9:rgba(0, 0, 0, 0.9);
$opacidadnegro10:rgba(0, 0, 0, 1);