@import "variables";
@import "mixins";
@import "header/Header";
@import "header/CartWidget";
@import "header/CartQuantity";
@import "header/Navbar";
@import "header/Logo";
@import "cart/Cart";
@import "cart/CartCheckout";
@import "cart/CartDeleteAllButton";
@import "cart/CartDeleteItemButton";
@import "cart/CartBackToHome";
@import "cart/CartEmpty";
@import "cart/CartItemDetail";
@import "itemDetail/Checkout";
@import "itemDetail/ItemCount";
@import "itemDetail/ItemDetail";
@import "itemDetail/ItemModal";
@import "utilities/Loader";
@import "itemList/Categories";
@import "itemList/ItemList";
@import "itemList/Item";
@import "footer/Footer";
@import "utilities/modalForm";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
body {
  font-family: "Inter", sans-serif;
  background-image: url(../../public/imgs/general/background.png);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  flex-flow: column;
  font-size: 14px;
  div {
    display: flex;
    flex-direction: column;
    width: 100%;   
  }
}
main {
  flex: 1;
}