@import "variables";
@import "utilities/mixins";
@import "base/typography";
@import "main";
@import "header";
@import "navbar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  display: flex;
  background-image:url(../../public/imgs/general/background.png);
  width: 100%;
  height: 100%;
  flex-flow: column;
  font-size: 14px;
}
main {
  flex: 1;
}