///deleteAll

$red: #f44336;
@mixin transition($in) {
  transition: $in;
  -webkit-transition: $in;
  -moz-transition: $in;
  -o-transition: $in;
  -ms-transition: $in;
}
@mixin transform($in) {
  transform: $in;
  -webkit-transform: $in;
  -moz-transform: $in;
  -o-transform: $in;
  -ms-transform: $in;
}
@mixin animation($in) {
  animation: $in;
  -webkit-animation: $in;
  -moz-animation: $in;
  -o-animation: $in;
  -ms-animation: $in;
}

.deleteButton-container {
  .deleteButton-container-button {
    outline: none;
    border-style: none;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: 0px auto;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: transparent;
    position: relative;
    @include transition(all 0.5s ease);
  }
  .one {
    border-color: #fff;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.6);
    .insider {
      background-color: #fff;
      width: 100%;
      height: 20px;
      position: absolute;
      left: -135px;
      @include transform(rotateZ(45deg));
    }
    &:hover {
      background-color: $red;
      border-color: #fff;
      color: #fff;
      .insider {
        @include transition(all 0.3s ease);
        left: 135px;
      }
    }
  }
}

//delete individual
$speed: 0.5s;
.cart-container-inner_body_product_delete {
  border-style: none;
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  .btn-flip {
    width: 75%;
    border-radius: 10px;
    opacity: 1;
    outline: 0;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      &:after {
        border-radius: 10px;
        opacity: 1;
        transform: translateY(0) rotateX(0);
      }

      &:before {
        border-radius: 10px;
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
      }
    }

    &:after {
      border-radius: 10px;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      color: #ffffff;
      font-size: 0.7rem;
      font-weight: 700;
      display: block;
      transition: $speed;
      position: absolute;
      background: #c95663;
      content: attr(data-back);
      transform: translateY(-50%) rotateX(90deg);
    }

    &:before {
      border-radius: 10px;
      top: 0;
      left: 0;
      opacity: 1;
      color: #696969;
      font-size: 0.7rem;
      font-weight: 700;
      display: block;
      padding-left: 10px;
      padding-right: 10px;
      line-height: 40px;
      transition: $speed;
      position: relative;
      background: #c2c2c2;
      content: attr(data-front);
      transform: translateY(0) rotateX(0);
    }
  }
}
