.item-list-container_item {
  @include sizes(250px, fit-content);
  @include display(flex, column);
  justify-content: space-between;
  align-items: center;
  .item-list-container_item_img {
    display: flex;
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    transition-duration: 0.2s;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .item-list-container_item_img_overlay {
    position: absolute;
    @include display(flex, column);
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 0.5s ease;
    .item-list-container_item_img_overlay_textBox {
      @include sizes(100%, 100%);
      @include display(flex, column);
      align-items: right;
      position: absolute;
      white-space: nowrap;
      color: white;
      .item-list-container_item_img_overlay_textBox_type {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
        height: auto;
        border-bottom-right-radius: 15px;
        background-color: rgba(0, 158, 255, 0.6);
        p {
          font-size: 0.95rem;
          padding: 2px 0px 5px 0px;
        }
      }
      .item-list-container_item_img_overlay_textBox_properties {
        @include display(flex, column);
        @include sizes(100%, 45%);
        justify-content: center;
        align-items: center;
      }
      .item-list-container_item_img_overlay_textBox_prices {
        @include display(flex, column);
        background-color: rgba(0, 102, 255, 0.6);
        justify-content: space-between;
        width: 100%;
        height: auto;
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 1rem;
        padding: 2%;
        background-color: rgba(0, 0, 0, 0.4);
        .item-list-container_item_img_overlay_textBox_prices_list {
          @include display(flex, row);
          justify-content: space-between;
          p {
            font-size: 0.8rem;
          }
        }
        .item-list-container_item_img_overlay_textBox_prices_cash {
          @include display(flex, row);
          justify-content: space-between;
          align-items: center;
          p {
            font-size: 0.9rem;
          }
        }
      }
      button {
        align-self: flex-end;
        background-color: rgba(0, 158, 255, 0.6);
        border-style: none;
        width: 50%;
        height: auto;
        margin-top: 15px;
        margin-right: 10%;
        padding: 5px;
        border-radius: 15px;
        transition: all 0.3s ease-in-out;
        a {
          text-decoration: none;
          color: white;
          font-size: 0.9rem;
          font-weight: 700;
        }
      }
      button:hover {
        width: 100%;
        background-color: rgba(255, 0, 64, 0.452);
        margin-right: 0;
        border-radius: 0;
      }
    }
  }
  .item-list-container_item_img:hover .item-list-container_item_img_overlay {
    width: 100%;
  }
  .item-list-container_item_title {
    display: flex;
    align-items: flex-start;
    width: 100%;
    font-size: 0.9rem;
    color: #ec8692;
    text-align: left;
    margin-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #e09ba3;
  }
}
