.item-list-container_item {
  @include sizes(200px, fit-content);
  @include display(flex, column);
  .item-list-container_item_title {
    display: flex;
    align-items: flex-start;
    width: 100%;
    font-size: 0.9rem;
    text-align: left;
    margin-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(224, 155, 163, 0.5);
    h3 {
      color: rgb(236, 134, 146, 0.9);
      text-shadow: 1px 1px 0px rgba(255, 255, 255);
    }
  }
  .item-list-container_item_img {
    @include sizes(100%,auto);
    display: flex;
    position: relative;
    z-index: 1000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    transition-duration: 0.2s;
    img {
      @include sizes(100%,auto);
      display: block;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .item-list-container_item_img_overlay {
    position: absolute;
    @include display(flex, column);
    @include sizes(0,100%);
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s ease;
    .item-list-container_item_img_overlay_textBox {
      @include sizes(100%, 100%);
      @include display(flex, column);
      align-items: right;
      position: absolute;
      white-space: nowrap;
      color: white;
      .item-list-container_item_img_overlay_textBox_type {
        display: flex;
        @include sizes(40%,auto);
        justify-content: center;
        align-items: center;
        border-bottom-right-radius: 15px;
        background-color: rgba(0, 158, 255, 0.8);
        p {
          font-size: 0.8rem;
          font-weight: 600;
          padding: 2px 0px 5px 0px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        }
      }
      .item-list-container_item_img_overlay_textBox_properties {
        @include display(flex, column);
        @include sizes(100%, 45%);
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
        p {
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
        }
      }
      .item-list-container_item_img_overlay_textBox_prices {
        @include display(flex, column);
        @include sizes(100%,auto);
        justify-content: space-between;
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 1rem;
        padding: 2%;
        background-color: rgba(0, 0, 0, 0.6);
        .item-list-container_item_img_overlay_textBox_prices_list {
          @include display(flex, row);
          justify-content: space-between;
          p {
            font-size: 0.8rem;
          }
        }
        .item-list-container_item_img_overlay_textBox_prices_cash {
          @include display(flex, row);
          justify-content: space-between;
          align-items: center;
          p {
            font-size: 0.8rem;
          }
        }
      }
      button {
        align-self: center;
        background-color: rgba(0, 60, 255, 0.6);
        border-style: none;
        @include sizes(50%,auto);
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        a {
          text-decoration: none;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          color: rgba(255, 255, 255);
          font-size: 0.85rem;
          font-weight: 700;
        }
      }
      button:hover {
        width: 100%;
        background-color: rgba(255, 81, 0, 0.452);
        margin-right: 0;
        border-radius: 0;
      }
    }
  }
  .item-list-container_item_img:hover .item-list-container_item_img_overlay {
    width: 100%;
  }
}
