.item-list{
  @include display(flex, column);
  @include sizes(100%,fit-content);
  align-items: center;
.item-list-container {
  justify-items: center;
  align-items: flex-start;
  width: 60%;
  height: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap:30px;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}
}